@import "tailwindcss";

:root {
  /* Nastavení základních barev napevno na světlý režim */
  --background: #ffffff;
  --foreground: #0f172a; /* Krásná tmavě modro-černá barva (slate-900) pro text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Smazali jsme @media (prefers-color-scheme: dark)!
  Nyní bude web vypadat vždy čistě bíle, ať má uživatel nastaveno cokoliv.
*/

body {
  background-color: var(--background);
  color: var(--foreground);
  /* Přidáme jemné vyhlazování písma, aby vypadalo víc "profi" */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}